body {
  background-color: var(--color-grey);
}
h1 {
  font-size: 3em;
  font-family: var(--font-rowdies);
  font-weight: 900;
  background: linear-gradient(to left, #e252d8 0%, #6ecbf5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.smallDivider {
  background-color: var(--color-black);
  width: 90px;
  padding: 1px;
  margin: 1em;
}

.depositContainer p,
.depositContainer li {
  color: var(--color-black);
  font-family: var(--font-righteous);
  list-style: none;
}

.depositContainer p {
  font-size: 24px;
  text-align: center;
}

.depositList {
  display: flex;
  gap: 1em;
}

.howdYouFindUS {
  padding: 16px;
}

.depositContainer li {
  display: flex;
  gap: 0.3em;
  align-items: center;
}
input[type="checkbox"] {
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  appearance: none;
  background-color: none;
  border: 2px solid #000000;
  display: inline-block;
  position: relative;
}

input[type="checkbox"]:checked:after {
  content: " ";
  width: 9px;
  height: 9px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: #000000;
  font-size: 32px;
}

button {
  background-color: var(--color-black);
  padding: 16px;
}

.depositContainer {
  background-color: var(--color-light-grey);
  padding: 16px;
  max-width: fit-content;
}
