

body {
    background-color: var(--color-light-grey);
}

.gradientTitle {
    font-size: 4em;
    font-family: var(--font-rowdies);
    font-weight: 900;
    background: linear-gradient(to left, #E252D8 0%, #6ECBF5 100%);
        -webkit-background-clip: text;
        background-clip: text;
    -webkit-text-fill-color: transparent;
}
.subTitle {
    font-size: 1.5em;
    font-family: var(--font-rowdies);
    max-width: 600px;
    text-align: center;
}
.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
}

.hostingOptions {
    background-color: var(--color-grey);
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    gap: 1em;
}

.hostingOptions .priceContainer {
    background-color: var(--color-white);
    width: 248px;
    display: flex;
    padding: 16px;
    flex-direction: column;
}
.hostingOptions h3 {
    font-size: 20px;
    text-align: center;
}


.hostingOptions .priceRow{
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    justify-content: center;
    align-items: flex-end;

}
.hostingOptions .priceRow .price{
    font-size: 32px;
    font-weight: 400;


}
.hostingOptions .priceRow .price2{
    font-size: 20px;
    font-weight: 400;
}

p, .hostingOptions h3,  .hostingOptions li  {
    color: var(--color-black);
    list-style: none;
    font-family: var(--font-rowdies);
}
.hostingOptions li {
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 5px;
    color: #3F3E3E;
}
.planList {
    margin: 2em 1em;
}
.hostingOptions p {
    font-size: 12px;
    font-weight: 500;
}

.basic {
    box-shadow: 12px 12px #6ECBF5;
}

.advance {
    box-shadow: 12px 12px #C152E2;
    height: 400px;
}

.master {
    box-shadow: 12px 12px #866EE7;
    height: 600px;
}
.corporation {
    box-shadow: 12px 12px #2CCA91;
    height: 800px;
}

.blueDiv {
    background-color: #6ECBF5;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px;
}

.blueDiv h1 {
    font-family: var(--font-rowdies);
    color: #C152E2;
}



/*--------------------------------------*/
/*Switch*/
/*--------------------------------------*/
.switch {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
  }
  
  .toggle {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-colorcolor);
    transition: 0.3s;
  }
  
  .slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 0 var(--main-color);
    transition: 0.3s;
  }
  
  .toggle:checked + .slider {
    background-color: var(--input-focus);
  }
  
  .toggle:checked + .slider:before {
    transform: translateX(30px);
  }