.bubbleCurve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.bubbleCurve svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.topBubbleCurve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.topBubbleCurve svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 124px;
}
