
:root {
    --calendar-bg-color: black;
    --calendar-font-color: #FFF;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: #1b1f21;
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : #FFF;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #484848
}

.date-toggle {
    padding: 5% 15px;
    border: none;
    width: 40%;
    height: 20%;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    border-radius: 6px;
    font-weight: normal;
    font-size: .9vw;
    margin-left: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-dropdown {
  width: 400px;
  height: 100%;
  position: relative;
  padding: 20px;
  background: var(--calendar-bg-color);
  color: var(--calendar-font-color);
  border-radius: var(--calendar-border-radius);
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin-top: 30px;
  margin-bottom: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h4 {
  margin: 0;
  text-transform: capitalize;
  font-size: 0.8vw;
  font-weight: bold;
}


.header a {
  padding: 0;
  border: 12px solid transparent;
  width: 0;
  height: 0;
  border-radius: 2px;
  border-top-color: #fff;
  transform: rotate(90deg);
  cursor: pointer;
  background: none;
  position: relative;
}
.header a::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header a:last-of-type {
  transform: rotate(-90deg);
}


.week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1%;
  margin-bottom: 5%;

}
.week-days span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .6vw;
  text-transform: capitalize;
}
.underline {
    border-bottom: 2px solid rgba(255, 255, 255, .18);
    display: inline-block;
    line-height: 0.85;
    padding: 10px;
}


.month-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1%;
  
}
.month-day {
  padding: 10px 10px;
  color: rgba(255, 255, 255, .18);
  font-size: .6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background: none;
}


.month-day.current {
  background: none;
  color: #fff;
  opacity: 1;


}
.month-day.current.selected {
  background: #00CFFF;
  box-shadow: 0 0 1.5rem 1rem rgba(17, 206, 239, 0.3);
  color: #fff;
  opacity: .9;
}
.month-day:hover {
  background: #e252d8;
  box-shadow: 0 0 1.5rem 1rem rgba(239, 17, 239, 0.3);
  color: #fff;
  opacity: .9;
}

.month-day.current.meeting, .month-day.meeting{
  color: red;
}

#dateValue{
  visibility: hidden;
}
