body {
  background-color: var(--color-black);
}

p {
  font-family: var(--font-rowdies);
  font-weight: 400;
}

li {
  font-family: var(--font-rowdies);
}
.blueSeperator {
  text-align: center;
}
.flexParagraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 500px;
  @media(max-width: 480px){
    max-width: 330px;
  }
}

.gifParagraphContainer {
  display: flex;
  align-items: center;
}

.businessMeeting,
.time,
.interface {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.businessMeeting,
.interface {
  text-align: left;
}
.time {
  text-align: right;
}
.priceRow {
  background-color: var(--color-dark-grey);
  position: relative;
}

@media only screen and (max-width: 1500px) {
  .flexParagraph {
    justify-content: start;
    align-items: start;
  }

  .gifParagraphContainer {
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
  }

  .businessMeeting,
  .time,
  .interface {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2em;
  }

  .gifParagraphContainer div img,
  .blueSeperator img {
    width: 80%;
  }
}
