body {
  background-color: var(--color-black);
}

p {
  font-family: var(--font-rowdies);
  font-weight: 900;
}

li {
  font-family: var(--font-rowdies);
}

.flexParagraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gifParagraphContainer {
  display: flex;
  align-items: center;
}

.businessMeeting,
.time,
.interface {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.businessMeeting,
.interface {
  text-align: left;
}
.time {
  text-align: right;
}
.priceRow {
  background-color: var(--color-dark-grey);
  position: relative;
}

@media only screen and (max-width: 1500px) {
  .flexParagraph {
    justify-content: start;
    align-items: start;
  }
}
