body {
  background-color: var(--color-black);
  background-image: url("/imgs/starry_background.png");
}

h1 {
  font-size: 3em;
  font-family: var(--font-rowdies);
  font-weight: 900;
  background: linear-gradient(to left, #e252d8 0%, #6ecbf5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-weight: 100;
  font-family: var(--font-righteous);
  line-height: 30pt;
  max-width: 400px;
  text-align: center;
}


.gif{
  width: 200px;
  height: auto;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5em;
  align-items: center;
}

.boxContainer {
  background-color: var(--color-dark-grey);
  border-radius: 100px;
  width: 600px;
  padding: 32px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.homeButton {
  background-color: var(--color-white);
  padding: 8px 32px;
  border-radius: 10px;
  color: var(--color-black);
  font-weight: bold;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2em;
    text-align: center;
  }

  h2 {
    font-size: 1em;
    max-width: 300px;
    
  }
  
  p{
    font-size: 12px;
    max-width: 300px;
    margin-top: 30px;
  }

  .gif{
    width: 100px;
    height: auto;
  }

  .mainContent {
    gap: 4em;
    margin-top: 10%;
  }
  
  .boxContainer {
    width: auto;
    padding: 40px 25px;
    gap: 30px;
  }
  
  .homeButton {
    background-color: var(--color-white);
    padding: 8px 32px;
    border-radius: 10px;
    color: var(--color-black);
    font-weight: bold;
  }
}