body {
  background-color: #1d1d1d;
}

h1 {
  font-size: 4em;
  font-family: var(--font-rowdies);
  font-weight: 900;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--color-black);
}

.pillDiv {
  border-radius: 50px;
  background: #1d1d1d;
  padding: 16px;
}
.pillDiv p {
  font-size: 16px;
}

.pillDivContainer {
  display: flex;
  justify-content: space-between;
}
