@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --color-navy-blue: #111827;
  --color-bright-purple: #c152e2;
  --color-plum-purple: #2a2455;
  --color-bright-blue: #6ecbf5;
  --color-white: #ffffff;
  --color-off-white: #e8e8e8;
  --color-black: #000000;
  --color-translucent-black: rgba(2, 2, 2, 0.8);
  --color-off-black: #111111;
  --color-dark-grey: #212121;
  --color-light-grey: #d9d9d9;
  --color-grey: #b6b4b4;
  --font-inter: "Inter", sans-serif;
  --font-rubik-glitch: "Rubik Glitch", system-ui;
  --font-rubik-moonrocks: "Rubik Moonrocks", sans-serif;
  --font-cutive-mono: "Cutive Mono", monospace;
  --font-codystar: "Codystar", sans-serif;
  --font-rowdies: "Rowdies", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-righteous: "Righteous", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

button {
  background: none;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

section {
  padding: 100px 10vw;
}

.starryBackground {
  background-image: url("/imgs/starry_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.astronaut {
  width: 50%;
  padding: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/imgs/astronaut.png");
}

.rubikGlitchHeader {
  font-size: 52px;
  font-weight: 100;
  font-family: var(--font-rubik-glitch);
}

.rubikGlitchSubtitle {
  font-size: 32px;
  font-weight: 100;
  font-family: var(--font-rubik-glitch);
}

.rubikGlitchParagraph {
  font-size: 15px;
  font-weight: 100;
  font-family: var(--font-rubik-glitch);
}

.cultiveBiggerParagraph {
  font-size: 23px;
  font-weight: 700;
  font-family: var(--font-cutive-mono);
}

.moonRocksHeader {
  font-size: 70px;
  font-family: var(--font-rubik-moonrocks);
}

.codyStartHeader {
  font-size: 32px;
  font-family: var(--font-codystar);
}

.gradientTitle,
.gradientLabel {
  font-family: var(--font-rowdies);
  font-weight: 900;
  background: linear-gradient(to left, #e252d8 10%, #6ecbf5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientTitle {
  font-size: 4em;
}

.gradientLabel {
  font-size: 3em;
  background: linear-gradient(to left, #e252d8 80%, #6ecbf5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero {
  position: relative;
}

.bodyCentered {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  align-items: center;
}

.services {
  background-color: var(--color-off-black);
  position: relative;
}

.websiteProcess {
  background-color: var(--color-light-grey);
  position: relative;
}
.dreamsite {
  background-color: var(--color-grey);
  position: relative;
  text-align: right;
  color: var(--color-black);
}

#computerLogo {
  width: 500px;
}

.dica {
  background-color: var(--color-black);
  position: relative;
  gap: 2em;
}

.dica img {
  padding: 0px 30px;
}

@media only screen and (max-width: 1500px) {
  #computerLogo {
    width: 350px;
  }

  .codyStartHeader {
    text-align: center;
  }

  .arrowContainer {
    display: none;
  }
}
